body {
    margin: 0;
    font-family: 'Patrick Hand', cursive;
    background-color: white;
}
#main {
    background-color: white;
    padding-left: 30px;
    padding-right: 30px;
    width: 80%;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: space-between;
}

#menu {
    padding-top: 10px;
    backdrop-filter: blur(30px);
    background-color: rgba(255, 255, 255, 0.8);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 200px rgba(0, 0, 0, 0.2);

    z-index: 6;
    position: fixed;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;

    transform: translateX(-300px);
    transition: all 0.5s ease-in-out;
}
#menu.show {
    transform: translateX(0);
}
#menu p {
    margin: 0.5rem 0;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 40px;
    cursor: pointer;
    transition: background-color 0.2s;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
}
#menu p:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
#menu p.active {
    background-color: rgba(0, 0, 255, 0.08);
    font-weight: bold;
}

#panel {
    top: 0;
    height: 60px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    position: fixed;
    z-index: 2;
    backdrop-filter: blur(30px);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}
#title-container {
    height: 60px;
    position: fixed;
    display: flex;
    align-items: center;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
}
#title-image {
    width: 50px;
    height: 50px;
    vertical-align: middle;
}
#title-text {
    font-size: 25px;
    margin-left: 20px;
    line-height: 1;
}

#search-button {
    margin-top: 10px;
    position: fixed;
    right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    height: 38px;

    border: 1px solid rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.5);
    background-color: rgba(200, 200, 200, 0.3);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    z-index: 3;
    border-radius: 15px;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: all 0.3s ease-in-out;
}
#search-button:hover {
    color: rgba(0, 0, 0, 0.8);
    background-color: rgba(200, 200, 200, 0.5);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
#search-button:active {
    filter: brightness(0.8);
}

#menu-button {
    margin-top: 10px;
    position: fixed;
    left: 10px;
    padding-left: 15px;
    padding-right: 13px;
    height: 38px;

    border: 1px solid rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.5);
    background-color: rgba(200, 200, 200, 0.3);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    z-index: 3;
    border-radius: 15px;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: all 0.3s ease-in-out;
}
#menu-button:hover {
    color: rgba(0, 0, 0, 0.8);
    background-color: rgba(200, 200, 200, 0.5);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
#menu-button:active {
    filter: brightness(0.8);
}

#search-input-button {
    background-color: rgba(255, 255, 255, 0.7);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% + 10px));
    z-index: 5;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    font-size: 40px;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    padding: 10px;
    max-width: 300px;
}
#search-input-button:hover {
    box-shadow: 0 2px 10px rgba(255, 255, 255, 0.5);
}
#search-input-button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5);
}
#search-input-button.show {
    transform: translate(-50%, -50%);
    opacity: 1;
}

#content {
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    box-sizing: border-box;
}
.markdown-block {
    font-family: 'Patrick Hand', cursive;
    color: black;
    margin-top: 30px;
    padding: 10px;
    transition: all 0.3s ease-in-out;
    box-sizing: border-box;
}

.highlight {
    border-radius: 10px;
    animation: lightElement 2s ease-in-out forwards;
}
@keyframes lightElement {
    0% {
        color: black;
        background-color: rgba(255, 255, 255, 0);
        padding: 0;
    }
    50% {
        color: white;
        background-color: rgba(0, 0, 0);
        padding: 20px;
    }
    100% {
        color: black;
        background-color: rgba(255, 255, 255, 0);
        padding: 0;
    }
}

#background {
    position: fixed;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(0);
    background-color: rgba(0, 0, 0, 0.0);
    z-index: 4;
    transition: all 0.3s ease-in-out;
    visibility: hidden;
}
#background.show {
    visibility: visible;
    backdrop-filter: blur(20px);
    background-color: rgba(0, 0, 0, 0.2);
}

#background {
    position: fixed;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(0);
    background-color: rgba(0, 0, 0, 0.0);
    z-index: 4;
    transition: all 0.3s ease-in-out;
    visibility: hidden;
}
#background.show {
    visibility: visible;
    backdrop-filter: blur(20px);
    background-color: rgba(0, 0, 0, 0.2);
}

#background-2 {
    position: fixed;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(0);
    background-color: rgba(0, 0, 0, 0.0);
    z-index: 4;
    transition: all 0.3s ease-in-out;
    visibility: hidden;
}
#background-2.show {
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.2);
}
